@import "tailwindcss";


@theme{
  --color-popover:#ffffff;
  --color-popover-foreground:#0a0a0a;
  --color-background:#ffffff;
  --color-card:#ffffff;
  --color-input:#e5e5e5;
  --color-muted:#f5f5f5;
  --color-muted-foreground:#737373;
  --color-primary-foreground:#fafafa;
  --color-primary:#171717;
  --color-secondary:#F5F5F5;
  --color-accent:#F5F5F5;  
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  overflow:hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* *{
  border-color: #e5e5e5;
} */

*:not([class*="border-"]) {
  border-color: #e5e5e5;
}

.text-balance {
  text-wrap: balance;
}

button {
  cursor: pointer;
}